.header {
    background-color: #f2b046;
    font-family: "Indie Flower", cursive;
    color: white;
    text-align: center;
    color: #ffffff;
}

.special-font {
    font-size: 2em;
    font-family: "Cal Sans", sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    font-family: "Cal Sans", sans-serif;
    transition: background-color 0.3s ease;
    background-color: transparent;
    color: white;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    transition-duration: 0.2s;
    background-color: #dca64f;
    padding: 1em;
    border-radius: 1em;
}

.hero {
    position: relative;
    height: 35em;
    width: 100%;
    overflow: hidden;
}
  
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
}

.bg-img-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20em;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
}
  
.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;

}
  
.content {
    background-color: white;
    padding: 40px;
}

.content-propos-spe {
    background-color: white;
    padding: 40px;
    display: flex;
}

.content-propos {
    background-color: white;
    margin-top: 2em;
}

.content-propos-mur {
    position: relative;
    z-index: 1;
    color: white;
}

.content-propos-mur::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('images/mur.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.5; 
    z-index: -1;
}


.slider {
    position: absolute;
    right: 0;
    width: 45%;
    height: 20em;
    overflow: hidden;
    z-index: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.prev { left: 10px; }
.next { right: 10px; }




.p1 {
    font-family: "Modak", system-ui;
    font-size: 3em;
}

.Ptitle {
    font-family: "Modak", system-ui;
    font-size: 2em;
}

.propos-P1 {
    text-align: left;
    font-size: 1.5em;
    margin-top: -10em;
    font-weight: bold;
    color: #f2b046;
    font-family: "Roboto", sans-serif;
}

.propos-P2 {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #f2b046;
    font-family: "Roboto", sans-serif;
}

.propos-P3 {
    text-align: left;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.propos-LI {
    margin-left: 3em;
    font-family: "Roboto", sans-serif;
}

.propos-P4 {
    font-family: "Roboto", sans-serif;
}

.propos-P5 {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #f2b046;
    font-family: "Roboto", sans-serif;
}

.propos-P6 {
    font-family: "Roboto", sans-serif;
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.href {
    color: #000000;
    font-weight: 900;
}

.pied1 {
    background-color: #f2b046;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    color: #ffffff;
    height: 20em;
}

.pied {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.pied-contact-title {
    color: #ffffff;
    font-weight: 900;
}

.maps {
    text-decoration: none;
    color: #ffffff;
}

.maps:hover {
    text-decoration: none;
    color: #d48506;
    font-weight: 900;
}

.pied-horaire-title {
    color: #ffffff;
    font-weight: 900;
}

.pied-rapide-title {
    color: #ffffff;
    font-weight: 900;
}

.lien-rapide {
    text-decoration: none;
    color: #ffffff;
}

.lien-rapide:hover {
    text-decoration: none;
    color: #d48506;
    font-weight: 900;
}

.img-serv {
    width: 30em;
    height: 15em;
}

.column-1 {
    text-align: left;
    flex-direction: column;
    margin-top: -15em;
}

.column-2 {
    text-align: right;
    flex-direction: column;
    padding-left: 12em;
    margin-top: -15em;
}

.serv-title {
    color: #f2b046;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}

.serv-txt {
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.img-glob {
    text-align: left;
    padding-top: 5em;
}

.img-glob-spe {
    text-align: left;
    padding-top: 6.2em;
}

.img-glob-spe2 {
    text-align: left;
    padding-top: 7em;
}

.img-glob-spe3 {
    text-align: left;
    padding-top: 6em;
}

.img-glob-spe4 {
    text-align: left;
    padding-top: 7em;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}
  
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}
  
.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
  
.cta:hover svg {
    transform: translateX(0);
}
  
.cta:active svg {
    transform: scale(0.9);
}
  
.hover-underline-animation {
    position: relative;
    color: #f2b046;
    padding-bottom: 20px;
}
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f2b046;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.serv-pg-title {
    margin-top: -8em;
    text-align: center;
    color: #000000;
    font-size: 2em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.serv-pg-cmf-P1 {
    text-align: center;
    font-weight: 500;
    color: #f2b046;
    font-size: 1.5em;
    font-family: "Chewy", system-ui;
}

.serv-pg-cmf-P2 {
    text-align: left;
    margin-left: 4em;
    font-weight: 500;
    color: #f2b046;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-cmf-P3 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.li-cmf {
    text-align: left;
    margin-left: 8em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-cmf-P4 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-cmf-P5 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-cmf-P6 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #f2b046;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #f2b046;
}
   
.back > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}
   
.back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}
   
.back:hover {
    box-shadow: 9px 9px 33px #f2b046, -9px -9px 33px #f2b046;
    transform: translateY(-2px);
}

.btn-back {
    margin-left: 33%;
    padding-bottom: 3em;
}

.serv-pg-odm-P1 {
    text-align: center;
    font-weight: 500;
    color: #f2b046;
    font-size: 1.5em;
    font-family: "Chewy", system-ui;
}

.serv-pg-odm-P2 {
    text-align: left;
    margin-left: 4em;
    font-weight: 500;
    color: #f2b046;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-odm-P3 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.li-odm {
    text-align: left;
    margin-left: 8em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-odm-P4 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-odm-P5 {
    text-align: left;
    margin-left: 4em;
    font-weight: 500;
    color: #f2b046;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}

.serv-pg-odm-P6 {
    text-align: left;
    margin-left: 6em;
    color: #000000;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

